/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {

	/* background: rgb(255, 170, 170); */

}
#lft {

	/* background: rgb(170, 255, 170); */
}

#rgt {

	/* background: rgb(170, 170, 255); */
}

#container{
	width: 100%;
	height: 60%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
